{% extends 'task/index.html' %}
{% load static %}
{%load crispy_forms_tags %} 

{% block content %}
<title>Violation System | Edit Violation</title>
<!-- MAIN CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/add.css' %}">



<!-- Header -->
<header id="header" class="fixed-top header-inner-pages">
  <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'violation-innerpage' %}">violation system<span>.</span></a></h1>


      <!-- Navigation bar -->
      <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li ><a href="{% url 'violation-innerpage' %}">Home</a></li>
            <li><a href="{% url 'violation-scan' %}">Scan QR</a></li>
            <li><a href="{% url 'violation-add' %}">Add Violation</a></li>
            <li><a href="{% url 'violation-table' %}">View Violation List</a></li>
  

          </ul>
      </nav>

      <a href="" class="logout-btn">Log-out</a>

  </div>

</header>



  <div id="box">
    <div id="shadow">
      <div class="row justify-content-center" id="kahon">
        <div class="col-7" id="lalagyan">
          <center><h1>Edit Violation</h1></center>
              <br/>
              <div class="container">
                <form action="" method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <!--<input type="submit" value="Submit" class="btn btn-secondary"> -->
                  <input type="submit" value="Update" id="addBtn">
                </form>
                <br/>
                <a type="button" id="addBtn" href="{% url 'violation-table' %}">Cancel</a>
        </div>

      </div>
    </div>
    

  </div>
  
{% endblock %}