{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="stylesheet" type="text/css" href="{% static 'img/favicon.ico' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/icofont/icofont.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/venobox/venobox.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/aos/aos.css' %}">


  {% block content %}
  <title>Violation System</title>

  <!-- Template Main CSS File (GALING SA STATIC NA FOLDER) -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
 
</head>


<body>



  <!-- Header -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'violation-home' %}">Violation System<span>.</span></a></h1>

      <!-- Navigation bar -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'violation-home' %}">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

      <a href="{% url 'violation-signin' %}" class="get-started-btn">Login</a>

    </div>
  </header>



  <!-- Hero section -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>violation system<span>.</span></h1>
          <h2>an online monitoring and record of TUPC student violation</h2>
        </div>

      </div>
    

    </div>
  </section>



  <main id="main">

    <!-- About section -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/about.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
            <h3>Systematic and conveniency</h3>
            <p class="font-italic">
              Violation system is designed to monitor and record new and existing violators of rules and regulations mandated
              by the university.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>violation/offense</li>
              <li><i class="ri-check-double-line"></i>community service hour</li>
              <li><i class="ri-check-double-line"></i>data records</li>
            </ul>
            <p>
              The above mentioned is the holistic core of the program which is to make things more conveniet for recording and monitoring violations.
            </p>
          </div>
        </div>

      </div>
    </section>


    
    <!-- Clients section -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel clients-carousel">
          <img src="{% static 'img/clients/client-1.png' %}" alt="">
          <img src="{% static 'img/clients/client-2.png' %}" alt="">
          <img src="{% static 'img/clients/client-3.png' %}" alt="">
          <img src="{% static 'img/clients/client-4.png' %}" alt="">
          <img src="{% static 'img/clients/client-5.png' %}" alt="">
          <img src="{% static 'img/clients/client-6.png' %}" alt="">
          <img src="{% static 'img/clients/client-7.png' %}" alt="">
          <img src="{% static 'img/clients/client-8.png' %}" alt="">
        </div>

      </div>
    </section>
    


    <!-- Features section -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static 'img/services.svg' %}" class="img-fluid" alt="">
          </div>
          

          <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
            <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-qr-scan-2-line"></i>
              <h4>Scanning QR code</h4>
              <p>for monitoring and recording new or existing violation</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-emotion-happy-line"></i>
              <h4>User-friendly</h4>
              <p>designed for usability regardless of inexperience to technology</p>
            </div>
            <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
              <i class="ri-database-line"></i>
              <h4>Data records</h4>
              <p>contain the records/list of violators with their respected violations</p>
            </div>
            
          </div>
        </div>

      </div>
    </section>
    


   <!-- Services section -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check our Services</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="ri-qr-scan-2-line"></i></div>
              <h4><a href="">Scanning QR code</a></h4>
              <p>for monitoring and recording new or existing violation</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="ri-refresh-line"></i></div>
              <h4><a href="">Updates</a></h4>
              <p>we're always has room for improvement to attain good functionality</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="ri-chat-smile-2-fill"></i></div>
              <h4><a href="">Connect with us!</a></h4>
              <p>your personal opinion matters to us, we can always be reach out with a simple message!</p>
            </div>
          </div>

        </div>

      </div>
    </section>
  

    

    <!-- Testimonials section -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/student-2.jpg' %}" class="testimonial-img" alt="">
            <h3>Kris Arriesgado</h3>
            <h4>Student</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Violation system webapp is a new trend!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/student-1.jpg' %}" class="testimonial-img" alt="">
            <h3>Jackielyn Burlaza</h3>
            <h4>Student</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Violation system webapp is quite something new. I've never encountered one.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <img src="{% static 'img/testimonials/student-3.jpg' %}" class="testimonial-img" alt="">
            <h3>Jigs Garcia</h3>
            <h4>Student</h4>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Webapp like a Violation System is very useful for university especially for large sccale of recording violations.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>         

        </div>

      </div>
    </section>

    

    <!-- Team section -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Check our Team</p>
        </div>

        <div class="row">
          <div class="col-6 col-md-4 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'img/team/barci.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                </div>
              </div>

              <div class="member-info">
                <h4>Hazel Ann Mae Barcibal</h4>
                <span>Web Designer/Programmer</span>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="200">
              <div class="member-img">
                <img src="{% static 'img/team/alexis.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  
                </div>
              </div>
              <div class="member-info">
                <h4>Paul Alexis Julian</h4>
                <span>Consultant/Programmer</span>
              </div>
            </div>
          </div>

          <div class="col-6 col-md-4 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              <div class="member-img">
                <img src="{% static 'img/team/jel.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Jelvina Camacho</h4>
                <span>Project Manager</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>

    

    <!-- Contact section -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div>
          <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d36773.27907305976!2d120.94922039917412!3d14.35118384651508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397d43fdf3bf3d3%3A0x756d61b3739581bc!2sTechnological%20University%20of%20the%20Philippines%20%E2%80%93%20Cavite!5e0!3m2!1sen!2sph!4v1609268133924!5m2!1sen!2sph" frameborder="0" allowfullscreen=""></iframe>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Carlos Trinidad Ave. Barangay Salawag, Dasmariñas, Cavite</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>www.cavitetup@ymail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>(046) 416 4920</p>
              </div>

            </div>

          </div>

         

        </div>

      </div>
    </section>


  <!-- End of #main -->
  </main>
  

  {% endblock %}

  <!-- Footer section -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Violation System<span>.</span></h3>
              <p>
                Carlos Trinidad Avenue <br>
                Barangay Salawag, Dasmariñas, Cavite <br><br>
                <strong>Phone:</strong> (046) 416 4920<br>
                <strong>Email:</strong> www.cavitetup@ymail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'violation-home' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#team">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Contact</a></li>
              </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> Violation Records</li>
              <li><i class="bx bx-chevron-right"></i> Scanning and creating QR codes</li>
              <li><i class="bx bx-chevron-right"></i> Systematic system</li>
              <li><i class="bx bx-chevron-right"></i> User-friendly interface</li>
              
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>COET-3B 2021</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <a href="http://www.tup.edu.ph/">Technological University of the Philippines</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>




  <!-- Vendor JS Files -->

  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>



  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>