{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Violation System | Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link rel="stylesheet" type="text/css" href="{% static 'img/favicon.ico' %}">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- static css-->
  
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/icofont/icofont.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/boxicons/css/boxicons.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/venobox/venobox.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/remixicon/remixicon.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/aos/aos.css' %}">

  <!-- Template Main CSS File -->
  <link href="{% static 'css/inner-page-style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- Header -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">violation system<span>.</span></a></h1>


      <!-- Navigation bar -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li ><a href="innerpage.html">Home</a></li>
          <li><a href="scanning qr/index.html">Scan QR</a></li>
          <li><a href="v-table.html">View Violation List</a></li>
  

        </ul>
      </nav>

      <a href="index.html" class="logout-btn">Log-out</a>

    </div>

  </header>


  <main id="main">
    <!-- Hero section -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">

          <div class="col-xl-6 col-lg-8">
            <h2>welcome<span>!</span></h2>
            <h1>violation system<span>.</span></h1>
            <h2>an online monitoring and record of TUPC student violation</h2>
          </div>

        </div>
      </div>
    </section>
  </main>



  <!-- Footer section -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Violation System<span>.</span></h3>
              <p>
                Carlos Trinidad Avenue <br>
                Barangay Salawag, Dasmariñas, Cavite <br><br>
                <strong>Phone:</strong> (046) 416 4920<br>
                <strong>Email:</strong> www.cavitetup@ymail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="innerpage.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> Violation Records</li>
              <li><i class="bx bx-chevron-right"></i> Scanning and creating QR codes</li>
              <li><i class="bx bx-chevron-right"></i> Systematic system</li>
              <li><i class="bx bx-chevron-right"></i> User-friendly interface</li>
              
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>COET-3B 2021</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <a href="http://www.tup.edu.ph/">Technological University of the Philippines</a>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>


  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>

</body>

</html>