{% extends 'task/index.html' %}

{% load static %}


{% block content %}
<title>Violation System | Home</title>

<!-- MAIN CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'css/inner-page-style.css' %}">


<!-- Header -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'violation-innerpage' %}">violation system<span>.</span></a></h1>


      <!-- Navigation bar -->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'violation-innerpage' %}">Home</a></li>
          <li><a href="{% url 'violation-scan' %}">Scan QR</a></li>
          <li><a href="{% url 'violation-add' %}">Add Violation</a></li>
          <li><a href="{% url 'violation-table' %}">View Violation List</a></li>
  

        </ul>
      </nav>

      <a href="{% url 'violation-home' %}" class="logout-btn">Log-out</a>

    </div>

  </header>


  <main id="main">
    <!-- Hero section -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">

          <div class="col-xl-6 col-lg-8">
            <h2>welcome<span>!</span></h2>
            <h1>violation system<span>.</span></h1>
            <h2>an online monitoring and record of TUPC student violation</h2>
          </div>

        </div>
      </div>
    </section>
  </main>

  {% endblock %}
